#name {
    font-size: 50px;
    font-family: 'Teko', sans-serif;
    margin-top: 10vh;
}

div, a {
    opacity: 0;
    transition: opacity 5s;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 60%;
    margin: 0 auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


html {
    text-align: center;
}


a {
    text-decoration: none;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
